body{
    margin: 0px;
    background-color: #9e6a3d;
}
div#main{
    width: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcf9d;
    min-height: 200px;
}
button{
    display: block;
    margin: 0 auto;
    background-color: lightgreen;
    box-shadow: 5px 5px 5px blue;
    font-size:25px;
    margin-top: 20px;
    margin-bottom:20px;
}
#quote {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
#mainQuote{
    font-size:25px;
}
#author{
    float: right;
    color: green;
    font-size: 20px;
    margin-bottom: 25px;
}
@media (max-width:350px) {
    div#main{
        width: 85%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffcf9d;
        min-height: 200px;
    }
    button{
        font-size:15px;
    }
}